* {
  margin: 0;
  padding: 0;
}

body {
  background-color:  #f4e9f3;   
  color: black;
}
.container {
  display: flex;
  flex-direction: row; 
  justify-content: center;
  flex-wrap: wrap; 
  gap: 20px; 
}

.card {
  margin-top:40px;
  flex: 0 1 auto;
}

/* .btn
{
  margin-top:6px;
  margin-left: 20px;
}

.badge
{
  margin-top:13px;
  margin-left:20px;
 
} */

nav
{
  
  border: 1px solid #ccc; 
  margin-top:20px;
  border-radius: 50px; 
  flex-wrap: wrap;
   
}

 nav ul li{
  
  flex: 0 1 auto;
  display:flex;
  margin-left:140px;
  cursor:pointer;
  position :relative; 
  
}

nav ul li::after
{
 content:'';
 width:0%;
 height:3px;
 background:#2192ff;
 position:absolute;
 left:0;
 bottom:1px;
 transition:0.3;
}

nav ul li:hover::after
{
 width:100%;
}

.table {
  background-color: #ffffff;
  border-collapse: separate;
  border-spacing: 0 10px;
  border-radius: 10px; 
}


.table td, .table th {
  border-top: none;
  padding: 12px;
}




/* yeta bata garda nhi thik xa tara manparena */
/* .btn-outline-info {
  color: #5d6d7e;
  border-color: #5d6d7e;
}

.btn-outline-info:hover {
  background-color: #85929e;
  color: #ffffff;
  border-color: #5d6d7e;
} */






